Source: libtertiusqbit-timelog-xs-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), g++, perl, libtertiusqbit-timelog-perl, libtest-leaktrace-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-timelog-xs-perl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-timelog-perl
Conflicts: libqbit-timelog-xs-perl
Replaces: libqbit-timelog-xs-perl
Description: Short description.
 Long description.
